NEXT_PUBLIC_S3_BASE_URL=https://storage.yandexcloud.net/rbstorage
NEXT_PUBLIC_SITE_URL=https://schupy.ru
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=zakaz@schupy.ru
SMTP_PASSWORD=
CONTACT_TO=zakaz@schupy.ru
WEB3FORMS_ACCESS_KEY=
